<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header>

    </header>
    <main>
<div class="main">
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <input type="submit" value="Login" name="loginbtn">
</form>
</div>
    </main>
    <footer>

    </footer>
    
</body>
{%endblock content%}
</html>