<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <header>

    </header>
    <main>
<Div class="container">
    <p>
    <div class="formdiv">
<form action="" method="post">
    {% csrf_token %}
    <ul><input type="text" name="firstname" id="" placeholder="firstname"></ul>
    <ul><input type="text" name="lastname" id="" placeholder="lastname"></ul>
    <ul><input type="email" name="email" placeholder="example@email.com"></ul>
    <ul><input type="text" name="username" placeholder="username"></ul>
    <ul><input type="tel" name="phone" placeholder="phone"></ul>
    <ul><input type="password" name="password" id="" placeholder="password"></ul>
    <ul><input type="password" name="confirmpassword" id="" placeholder="confirm password"></ul>
    <ul><input type="submit" value="Signup" name="signupbtn"></ul>

</form>
    </div>
</p>
</Div>
    </main>
    <footer>

    </footer>
</body>
{% endblock content %}
</html>